<section class="pt-5 circle-1">

    <div class="ourworks-box container pb-5 pt-5">
        <h1 class="our-works-head">Our Clients say</h1>
        <p>Check out what clients say about my services. Happy clients all over the world. Share your experience with me by submitting your reviews</p>
    </div>

    <div class="container pb-5 position-relative">
                    <div id="demo" class="carousel slide position-relative" data-ride="carousel">

                            <!-- Indicators -->
                                    <ul class="carousel-indicators">
                                            <li data-target="#demo" data-slide-to="0" class=""></li>
                                            <li data-target="#demo" data-slide-to="1" class="active"></li>
                                            <li data-target="#demo" data-slide-to="2" class=""></li>
                                          </ul>

                          
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                              <div class="carousel-item active carousel-item-left">
                                    <div class="d-flex">
                                            <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                    <a href="#" class="introduce pb-3">
                                                    <div class="flex-column-1 ">
                                                        <p class="pr-2 pl-3 pt-4"> application. Perfect for handling expenses with and without interest. Because of the simple UI, first time user will never feel overwhelmed.</p>
                                                    </div>
                                                    <div class="flex-column-2 d-flex">
                                                        <div class="pic p1"></div>
                                                        <div class="information  flex-column pl-3 pt-2">
                                                            <p>yash sharma</p>
                                                            <p class="text-gray">Managing Director</p>
                                                        </div>
                                                    </div>
                                                    <span></span>
                                                </a>
                                            </div>
                                            <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                    <a href="#" class="introduce pb-3">
                                                        <div class="flex-column-1 ">
                                                            <p class="pr-2 pl-3 pt-4">Many of us lend money to others and some of us borrow it and many times it is difficult to manage those funds. This app is really helpful in dealing those finances. With its user friendly interface, we dont have to do anything just record our transaction and we are done. And the part I like most about the app is on the home page it shows how much money we owe to people and vice versa. Loved it!</p>
                                                        </div>
                                                        <div class="flex-column-2 d-flex">
                                                            <div class="pic p2"></div>
                                                            <div class="information  flex-column pl-3 pt-2">
                                                                <p>Atul Prajapati</p>
                                                                <p class="text-gray">Ceo &amp; Founder</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                                    <a href="#" class="introduce pb-3">
                                                        <div class="flex-column-1 ">
                                                            <p class="pr-2 pl-3 pt-4">Once you get into the app interface you will say yes i got that, to handle my business. Loan, intrest, calculations are the most attractive features available in it.</p>
                                                        </div>
                                                        <div class="flex-column-2 d-flex">
                                                            <div class="pic p3"></div>
                                                            <div class="information  flex-column pl-3 pt-2">
                                                                <p>Amit</p>
                                                                <p class="text-gray">Fashion Designer</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                    </div>

                                </div>	
                                <div class="carousel-item carousel-item-next carousel-item-left">
                                        <div class="d-flex">
                                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                        <a href="#" class="introduce pb-3">
                                                        <div class="flex-column-1 ">
                                                            <p class="pr-2 pl-3 pt-4">
                                                                Wow.. great app. Now no need to worry about our money.. this app can calculate and keep our transactions safe and secure. Now no need to keep a dairy for records. Wonderful app..</p>
                                                        </div>
                                                        <div class="flex-column-2 d-flex">
                                                            <div class="pic p1"></div>
                                                            <div class="information  flex-column pl-3 pt-2">
                                                                <p>Akash</p>
                                                                <p class="text-gray">Ceo &amp; Founder</p>
                                                            </div>
                                                        </div>
                                                        <span></span>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                        <a href="#" class="introduce pb-3">
                                                            <div class="flex-column-1 ">
                                                                <p class="pr-2 pl-3 pt-4">A simple and easy to use application. Perfect for handling expenses with and without interest. Because of the simple UI, first time user will never feel overwhelmed.</p>
                                                            </div>
                                                            <div class="flex-column-2 d-flex">
                                                                <div class="pic p2"></div>
                                                                <div class="information  flex-column pl-3 pt-2">
                                                                    <p>Anshul</p>
                                                                    <p class="text-gray">Ceo &amp; Founder</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                                        <a href="#" class="introduce pb-3">
                                                            <div class="flex-column-1 ">
                                                                <p class="pr-2 pl-3 pt-4">WAfter trying a different app to manage my finances, I switched to this one and love it. It shows your starting amount owed on each bill and the remaining amount after payments. It's great to get motivated to pay off debt! </p>
                                                            </div>
                                                            <div class="flex-column-2 d-flex">
                                                                <div class="pic p3"></div>
                                                                <div class="information  flex-column pl-3 pt-2">
                                                                    <p>Chandan</p>
                                                                    <p class="text-gray">Fashion Designer</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                        </div>

                                    </div>
                                    <div class="carousel-item ">
                                            <div class="d-flex">
                                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                            <a href="#" class="introduce pb-3">
                                                            <div class="flex-column-1 ">
                                                                <p class="pr-2 pl-3 pt-4">Many of us lend money to others and some of us borrow it and many times it is difficult to manage those funds. This app is really helpful in dealing those finances. With its user friendly interface, we dont have to do anything just record our transaction and we are done. And the part I like most about the app is on the home page it shows how much money we owe to people and vice versa. Loved it!!</p>
                                                            </div>
                                                            <div class="flex-column-2 d-flex">
                                                                <div class="pic p1"></div>
                                                                <div class="information  flex-column pl-3 pt-2">
                                                                        <p>karan</p>
                                                                        <p class="text-gray">Fashion Designer</p>
                                                                </div>
                                                            </div>
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column ">
                                                            <a href="#" class="introduce pb-3">
                                                                <div class="flex-column-1 ">
                                                                    <p class="pr-2 pl-3 pt-4">What a Service!!!!!Antony is one of the top Classy designer in the world.Exceeded expectation and designed my website to my requirments.Will be usingfor ongoing work.</p>
                                                                </div>
                                                                <div class="flex-column-2 d-flex">
                                                                    <div class="pic p2"></div>
                                                                    <div class="information  flex-column pl-3 pt-2">
                                                                        <p>David Luiz</p>
                                                                        <p class="text-gray">Ceo &amp; Founder</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    <div class="col-lg-4 col-sm-12 col-12 d-flex flex-column">
                                                            <a href="#" class="introduce pb-3">
                                                                <div class="flex-column-1 ">
                                                                    <p class="pr-2 pl-3 pt-4">This app gives you Hassle-free way to remember all your loans and lendings, user interface of the application is very easy to operate, most importantly it will also notify the person you are lending money to. Interest calculation is one of the key facility they provide. Overall every thing is best till now, hope to get more in coming updates. 👍🏽</p>
                                                                </div>
                                                                <div class="flex-column-2 d-flex">
                                                                    <div class="pic p3"></div>
                                                                    <div class="information  flex-column pl-3 pt-2">
                                                                        <p>Atul</p>
                                                                        <p class="text-gray">Fashion Designer</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                            </div>
    
                                        </div>
                            </div>
                          
                            <!-- Left and right controls -->
            
                                    <a class="carousel-control-prev" href="#demo" data-slide="prev" style="opacity: 1; left: -10%;">
<i class="fas fa-chevron-left" style="color:#5969f6; font-size:30px;"></i>
                                    </a>
                                    <a class="carousel-control-next" href="#demo" data-slide="next" style="opacity: 1; transform: rotate(-180deg); right: -10%;">
<i class="fas fa-chevron-left" style="color:#5969f6; font-size:30px;"></i>
                                    </a>

                          
                          </div>



            </div>
        

</section>