
<div class="logodiv"><app-logo></app-logo></div>

<div><app-mainhead></app-mainhead></div>


 <app-downlaod></app-downlaod>
 <div style="height:100px ;"><h1 class="heading11"><mark>Feature Highlights</mark></h1></div>
<div><app-slider></app-slider></div>

<app-grid></app-grid>
<h1 class="heading"><mark>Why you should use Byaj Book app</mark> </h1>
<app-div1></app-div1>
<app-div2></app-div2>
<app-f3></app-f3>
<app-f4></app-f4>
<app-f5></app-f5>
<app-f6></app-f6>
<app-f7></app-f7>
<app-sbuss></app-sbuss>

<app-footer></app-footer>
<app-about></app-about>
<app-navbar></app-navbar>
<app-yt></app-yt>
<app-contact></app-contact>
<app-footer2></app-footer2>


